<h1 class="page-header">Dashboard Route</h1>
<div class="row">
  <div class="col-md-12 text-center">
    <a [routerLink]="['../room']">
      <button id="singlebutton1" name="singlebutton" class="btn btn-primary">Book a Room</button>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <a [routerLink]="['../blog']">
      <button id="singlebutton2" name="singlebutton" class="btn btn-primary">Write a Review</button>
    </a>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 text-center">
    <a [routerLink]="['../rating']">
      <button id="singlebutton3" name="singlebutton" class="btn btn-primary">Rate the Hotel</button>
    </a>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 text-center">
    <a [routerLink]="['../profile']">
      <button id="singlebutton4" name="singlebutton" class="btn btn-primary">Profile</button>
    </a>
  </div>
</div>
<!-- 
<div class="col-md-4 text-center"> 
    <a [routerLink]="['profile']"><button id="singlebutton4" name="singlebutton" class="btn btn-primary">Profile</button> </a>
</div> -->
