<h1 class="page-header">Hotel Rooms</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Reload Button -->
<button [disabled]="loadingRooms" type="button" name="button" class="btn btn-default" (click)="reloadRooms()">
  <span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br />
<br />

<!-- Panel Start -->
<div>
  <!-- Panel Outer Layer -->
  <div class="panel panel-primary" *ngFor="let room of roomPosts">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ room.title }}</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      {{ room.body }}

      Price: {{room.price}} $
      <br>
      <a href="https://pcq2n3e7fl.execute-api.us-west-2.amazonaws.com/prod/number?dollars={{room.price}}">
        <button class="btn btn-default">Convert to Rupees</button>
      </a>

      <br /> room Type: {{room.roomType}}
      <br /> Booked: {{room.isBooked}}
      <br /> Available: {{room.available}}
      <br />
      <img src="{{room.image}}" alt="No image Provided" class="img-thumbnail" style="width:100px;height:100px;">
      <br />
    </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <br />

      <!-- Book Button -->
      <button *ngIf="room.isBooked !== true" type="button" name="button" class="btn btn-sm btn-success" (click)="BookRoom(room.title)">Book Room</button>
    </div>
  </div>
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->
