<h1 class="page-header">Hotel Rooms</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Room Button -->
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newRoomForm()">Add New Room</button>

<!-- Reload Button -->
<button [disabled]="loadingRooms" type="button" name="button" class="btn btn-default" (click)="reloadRooms()">
  <span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br />
<br />

<!-- New Room Form -->
<form [formGroup]="form" (submit)="onRoomSubmit()" name="roomForm" *ngIf="newPost">
  <!-- Title Input -->
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <!-- Title Input -->
      <input type="text" name="title" class="form-control" placeholder="*Room Title" autocomplete="off" formControlName="title"
      />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>

  <!-- Body Input -->
  <div class="form-group">
    <label for="body">Body</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <!-- Body Input -->
      <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body"></textarea>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  <!-- Price Input -->
  <div class="form-group">
    <label for="price">Price: </label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">

      <input type="number" min="1" step="any" name="price" placeholder="$" class="form-control" formControlName="price" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
      </ul>
    </div>
  </div>

  <!-- Room Type Input -->
  <div class="form-group">
    <label for="roomType">Room Type: </label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <select class="form-control" name="roomType" formControlName="roomType">
        <option name="roomType" *ngFor="let rt of roomTypes" [value]="rt">{{rt}}</option>
      </select>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
      </ul>
    </div>
  </div>


  <!-- Availability Input -->
  <div class="form-group">
    <label for="avail">Availability: </label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <select name="available" class="form-control" formControlName="available">
        <option *ngFor="let av of availability" [value]="av">{{av}}</option>
      </select>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
      </ul>
    </div>
  </div>

  <br>

  <!-- <div class="form-group"> -->
  <!-- add (change) event -->
  <!-- <input type="file" multiple="false" accept="image/*" id- "finput" </div> -->

  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <!-- Submit Button -->
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>

</form>
<!-- New Room Form -->

<br>
<br>
<br>

<!-- Panel Start -->
<div>
  <!-- Panel Outer Layer -->
  <div class="panel panel-primary" *ngFor="let room of roomPosts">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ room.title }}</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      {{ room.body }}
      <br /> Price: {{room.price}}
      <br /> room Type: {{room.roomType}}
      <br /> Booked: {{room.isBooked}}
      <br /> Available: {{room.available}}

      <div *ngIf="room.isBooked">
        Booked By: {{room.bookedBy}}
      </div>
    </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <!-- Edit Button -->
      <a [routerLink]="['/edit-room/', room.title]">
        <button type="button" name="button" class="btn btn-sm btn-info">Edit</button>
      </a>
      <!-- Delete Button -->
      <a [routerLink]="['/delete-room/', room.title]">
        <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
      </a>
      <br />
    </div>
  </div>
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->
